@import '../../styles/variables.scss';

.startScreen {
    display: flex;
    max-width: 100%;
}

.chose {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .icon {
            display: flex;
            flex-direction: column;
            margin: 30px 60px;
            padding: 20px;
            box-shadow: 0 10px 1px $paperGradientOpacity;
            background: linear-gradient(to right, $paperGradientOne, $paperGradientTwo);
            border-radius: 50%;

            .imgWrapper {
                background: white;
                padding: 24px;
                border-radius: 50%;
                box-shadow: inset 0 10px 1px $paperGradientOpacity;

                img {
                    width: 120px;
                    height: 120px;                               
                    padding: 20px;
                }
            }
        }       
        .scissors {
            box-shadow: 0 10px 1px $scissorsGradientOpacity;
            background: linear-gradient(to right, $scissorsGradientOne, $scissorsGradientTwo);

            .imgWrapper {
                box-shadow: inset 0 10px 1px $scissorsGradientOpacity;
            }
        }

        .rock {
            box-shadow: 0 10px 1px $rockGradientOpacity;
            background: linear-gradient(to right, $rockGradientOne, $rockGradientTwo);

            .imgWrapper {
                box-shadow: inset 0 10px 1px $rockGradientOpacity;
            }
        }
    }
}