@import '../../styles/variables.scss';



.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: $sm;
    color: $headerOutline;
    height: 100vh;
    font-family: $jozefinFont;

    @include breakpoint(sm) {
        max-width: $lg;
    }

    .footer {
        display: flex;
        justify-content: center;
        //align-items: flex-end;
        margin: 30px;

        @include breakpoint(sm) {
            justify-content: flex-end;
            align-items: flex-end;
        }

        > button {
            padding: 12px 35px;
            border: 1px solid $colorLight;
            border-radius: 5px;
            background: transparent;
            color: $colorLight;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;

            &:hover {
                background: $colorLight;
                color: $darkText;
            }
        }
    }
}