@import '../../styles/variables.scss';

.header {
    display: flex;
    width: 90%;
    border: 1px solid $colorLight;
    border-radius: 10px;
    color: $colorLight;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 20px;
    height: 85px;

    @include breakpoint(sm) {
        height: 120px;
        width: 90%;
    }

    .logo {
        display: flex;
        align-items: center;
        flex: 5;
        padding: 5px;
        cursor: pointer;

        > img {
            height: 75px;
            width: 135px;

            @include breakpoint(sm) {
                height: 110px;
                width: 130px;
            }
        }
    }

    .score {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: $fs-xs;
        font-weight: $fw-light;
        flex: 1;
        padding: 10px;
        color: $darkText;
        background-color: $colorLight;
        border: 1px solid $colorLight;
        border-radius: 5px;
        margin: 12px;

        > span {
            margin-top: 5px;
            font-size: $fs-reg;
            font-weight: $fw-bold;
        }
    }
}