@import '../../styles/variables.scss';

.header {
    display: flex;
    height: 120px;
    margin: 50px;
    max-width: 70%;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: $fs-sm;
        font-weight: $fw-bold;
        flex: 5;
        padding: 10px;
        cursor: pointer;

        > img {
            height: 100px;
            width: 160px;
        }
    }

    .score {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: $fs-xs;
        font-weight: $fw-light;
        flex: 1;
        padding: 10px;
        color: $darkText;
        background-color: white;
        border: 1px solid white;
        border-radius: 5px;
        margin: 12px;

        > span {
            margin-top: 5px;
            font-size: $fs-reg;
            font-weight: $fw-bold;
        }
    }
}