@import-normalize;
@import './styles/variables.scss';

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
} 

body {
  background: -webkit-gradient(linear, left top, left bottom, from($linearGradientOne), to($linearGradientTwo)) fixed;

  @include breakpoint($sm) {
    background: radial-gradient($radialGradient);
    background-repeat: no-repeat;
  }
}