@import-normalize;
@import './styles/variables.scss';

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
} 

body {
  background: radial-gradient($radialGradient);
  background-repeat: no-repeat;
  height: 100vh;
}